body {
  background-color: #d3d3d3;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*********************************************/
/* Sign in page CSS  */

.signin-page{
  position: relative;
  
}

.signin-container{
  border-radius: 15px;
  margin-top:50px;
  margin-right: 100px;
  margin-left: 100px;
  border: 3px solid darkgray;
  background-color: #f2f2f2;
}


.signin-input{
  padding: 15px 15px;
  margin: 1px 0;
  display: inline-block;
  border-radius: 5px;
  width: 20%
}


.signin-button{
  margin-top: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: purple;
  background-color: white; 
  border-color: purple;
  border-radius: 15px;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}


.signin-button:hover {
  background-color: #4CAF50;
  border-radius: 15px;
  border-color: white;
  color: white;
  background-color: purple; 
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  border: 3px solid green; 
}


.loginc,
.registerc{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(63,9,63);
}


/*********************************************/
/* Register Page CSS */

.register-container{
  border-radius: 15px;
  margin-top:50px;
  margin-right: 100px;
  margin-left: 100px;
  border: 3px solid darkgray;
  background-color: #f2f2f2;
}

.register-page{
  position: relative;
  
}

.register-button{
  margin-top: 20px;
  margin-bottom: 20px;
  color: purple;
  background-color: white; 
  border-color: purple;
  border-radius: 15px;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}


.register-button:hover {
  background-color: #4CAF50;
  border-radius: 15px;
  border-color: white;
  color: white;
  background-color: purple; 
}


.register-input{
  padding: 15px 15px;
  margin: 1px 0;
  display: inline-block;
  border-radius: 5px;
  width: 20%
}

/*********************************************/
/* navigation section */

.navigation {
  background-color: #38414f;
  margin-right: 20px;
  overflow: hidden;
}



.navigation a:hover {
  background-color: #ddd;
  color: black;
}

.logo{
  text-align: center;
  float: left;
  color: #f2f2f2;
  padding: 10px 35px;
  font-family: 'Courier New', monospace;
  text-decoration: none;
  font-size: 25px;
}


.navigation a{
  text-align: center;
  padding: 15px 18px;
  float: right;
  color: #f2f2f2;
  text-decoration: none;
  font-size: 17px;
}



/*********************************************/
/* addlicense section */

.addLicenseContainer{
  border-radius: 15px;
  margin-top:50px;
  margin-right: 100px;
  margin-left: 100px;
  border: 3px solid darkgray;
  background-color: #f2f2f2;
}

.application-input{
  padding: 15px 15px;
  margin: 1px 0;
  display: inline-block;
  border-radius: 5px;
  width: 20%
}

.addLicenseContainer h1{
  font-size: 50px;
  font-style: italic;
}

.licensebutton{
  color: #fff ;
	text-transform: uppercase;
	background: darkgray;
	padding: 20px 30px;
	border-radius: 5px;
  margin: 20px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
}

.licensebutton:hover{
  background: purple;
	letter-spacing: 1px;
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}

.application-textarea{
  resize: none;
  border: 3px solid black;
  width: 30%;
  font-family: "Times New Roman";
  font-size: 17px;
}





/*********************************************/
/* Home Page section */

.objectheader{
  font-size: 30px;
}

.license-container{
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}


.object{
  width: 95%;
  height: 20%;
  background: lightblue;
  border: 3px solid black;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  margin-top: 20px;
  position: relative;
  cursor: pointer;
}

.statustext {
  text-align: left;
}

.bottomrow{
  display: inline;
}

.username{
  text-align: left;
  padding-bottom: 20px;
}

.license-header{
  margin: 60px;
  color: black; 
  font-size: 48px; 
  font-family: 'Signika', sans-serif; 
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}


.changeButton{
  color: #fff ;
	text-transform: uppercase;
	background: darkgray;
	padding: 20px 30px;
	border-radius: 5px;
  margin: 20px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
}


.changeButton:hover {
  background: purple;
	letter-spacing: 1px;
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}














